@charset "utf-8";
@import url("initTag.min.css");
#fbcs_file{font-size: 0;}
.hide{display: none !important;}
.show{display: block !important;}
input{font-size: 14px;color: #666;height: 30px;padding: 0 10px;border: 1px solid #D7D8DA;vertical-align: middle;}
input:focus{border: 2px solid #32ccF9;}
/*elment-ui*/
.el-popper{z-index: 1 !important;}
.el-menu{border: none;}
/*elment-ui 表格*/
.el-table thead{color: #333;}
.el-table__header th{background: #E5EAF0;}
.el-table__header .cell{white-space: nowrap;}
.lgy-table .bg{background: #E5EAF0;}
.el-table__body tr.current-row>td {background: #CFE0F3;}
.el-table td{padding: 10px 0;}
.el-table .cell{line-height: 20px;}
.el-table--enable-row-hover .el-table__body tr:hover>td { background: inherit; }
.el-table--enable-row-hover .el-table__body tr.current-row:hover>td { background: #CFE0F3; }
/*分页*/
.lgy-table .paging{padding: 20px 0;text-align: left;}
.lgy-table .paging .el-pagination,.lgy-table .paging .total{display: inline-block;vertical-align: middle;}
.lgy-table .paging .btn-next,.lgy-table .paging .btn-prev,.lgy-table .paging .more,
.lgy-table .paging .number{margin: 0;padding: 0;color: #7388A7;border: 1px solid #D7D8DA;border-width: 1px 1px 1px 0;font-weight: 500;}
.lgy-table .paging .btn-prev{border-width: 1px;}
.lgy-table .paging .number.active{box-shadow: 0 2px 4px 0 rgba(0,0,0,.2) inset;}
.lgy-table .paging .el-pagination__total{margin-left: 24px;color: #999;}
.lgy-table .paging .onePage{font-size: 13px;line-height: 28px;text-align: center;color: #999;}
/*按钮*/
.blueBtn, .defBtn{display: inline-block;min-width: 68px;height: 30px;border-radius: 6px;vertical-align: middle;
	font-size: 12px;line-height: 30px;padding: 0 10px;min-width: 88px;}
.blueBtn{background: #06BFF5;color: #FFF;}
.blueBtn:hover{background: #17cbff;}
.blueBtn:active{background: #00b5ea;}
.defBtn{color: #0DB9EB;border: 1px solid #0DB9EB;background: #FFF;}
.defBtn:active{box-shadow: 0px 0px 1px 0px #0DB9EB;}
/* MaskLayer */
.maskLayer{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 9;}
.loadPanle{font-size: 16px;color: #06BFF5;line-height: 30px;}

.maskBlack{background: rgba(0,0,0,0.5);}/*rgba(255,255,255,0.5)*/
.tipsPanle{display: block;margin: 10% auto 0;width: 600px;background: #FFF;border-radius: 4px;}
.tipsPanle .title{border-bottom: 1px solid #EDEFF4;height: 50px;overflow: hidden;}
.tipsPanle .title b{font-size: 18px;line-height: 50px;margin-left: 20px;color: #656a73;}
.tipsPanle .message{text-align: center;}
.tipsIcon{width: 40px;height: 40px;}
.tipsPanle .alert {font-size: 0;padding: 40px 0;}
.tipsPanle .alert > div{display: inline-block;vertical-align: top;max-height: 120px;}
.tipsPanle .alert .left{width: 110px;text-align: right;padding: 0 30px;}
.tipsPanle .alert .right{max-width: 488px;padding-right: 40px;font-size: 14px;color: #666;line-height: 24px;text-align: left;overflow: auto;}
.tipsPanle .confirm {font-size: 14px;color: #666;max-height: 200px;padding: 40px;overflow: auto;}
.tipsPanle .footBtn{height: 50px;border-top: 1px solid #EDEFF4;text-align: right;padding-top: 10px;}/*#D7D8DA,*/
.tipsPanle .footBtn button{margin-right: 15px;}

